.header {
    @include flex-center;
    width: 370px;
    column-gap: 7.63vw;
    margin-left: 53.44vw;
    margin-block: 2.54vw;
    height:50.89vw;

    & span {
        @include font-basic; 
        border: var(--border-accent);
        padding: var(--padding-section);
        border-radius: 10px;
    }

    & h1 {
        font-family: var(--font-family-title);
        font-size: 7rem;
        padding: 15px;
        border: var(--border);
        border-radius: var(--border-radius-title);
    }

    & img {
        min-width: 50.89vw;
        margin-right: 0;
    }
}