@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-basic {
    font-family: var(--font-family-basic);
    font-size: 1.5rem; 
}

@mixin style_section-input {
    font-family: var(--font-family-basic);
    font-size: 1.5rem; 
    border: var(--border_section-input);
}

@mixin style_section-input-label {
    width:  376px;
    height: 50px; 
    background-color: var(--color-background_section-input);
    border: none;
}

@mixin style-icons {
    background-size: cover;
    background-color: var(--background-transparent);
    border: none;
    width: 50px;
    height: 50px;
}

